.contacts-list {
  display: flex;
  align-items: center;
  margin-left: auto;

  &__item:not(:last-child) {
    margin-right: 30px;
  }
}

.contacts-list__link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  fill: currentColor;
  transition: color 250ms var(--cubic);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contacts-list__icon {
  margin-right: 10px;
}
