// .contacts-list {
//   display: flex;
//   align-items: center;
//   margin-left: auto;

//   &__item:not(:last-child) {
//     margin-right: 30px;
//   }
// }

// .contacts-list__link {
//   display: flex;
//   padding-top: 32px;
//   padding-bottom: 32px;
//   align-items: center;

//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.02em;
//   color: var(--primary-text-color);
//   fill: currentColor;
//   transition: color 250ms var(--cubic);

//   &:hover,
//   &:focus {
//     color: var(--accent-color);
//   }
// }

// .contacts-list__icon {
//   margin-right: 10px;
// }

@media screen and (max-width: 768px) {
  .contacts-list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .contacts-list {
    display: block;
    align-items: center;
    margin-left: auto;
  }

  .contacts-list__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    fill: currentColor;
    transition: color 250ms var(--cubic);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }


  .contacts-list__icon {
    margin-right: 10px;
  }
}


@media screen and (max-width: 1200px) {
    .contacts-list__item:not(:last-child) {
      margin-bottom: 10px;

    }
    
  }


  @media screen and (min-width: 1200px) {
    .contacts-list__item:not(:last-child) {
    margin-bottom: 0;
  }

  }

@media screen and (min-width: 1200px) {
  .contacts-list {
    display: flex;

    &__item:not(:last-child) {
      margin-right: 30px;
    }
  }

  .contacts-list__link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;

  font-size: 14px;
  line-height: 1.14;
  }
}
