.features {
  display: flex;

  &__wrapper {
    display: flex;
    height: 120px;
    justify-content: center;
    align-items: center;
    background-color: var(--section-bg-colir);
    margin-bottom: 30px;
  }

  &__title {
    margin-bottom: 10px;

    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
  }
}

.features__item {
  min-width: 270px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
