// .header {
//   border-bottom: 1px solid var(--border-color);

//   &__container {
//     display: flex;
//     align-items: center;
//   }
// }


.header {
  position: relative;
  border-bottom: 1px solid var(--border-color);
  min-height: 60px;

 
}

@media screen and (min-width: 768px) {

  .header__container {
    display: flex;
    align-items: center;
  }
}
  
