.hero {
  margin-right: auto;
  margin-left: auto;
  padding-top: 118px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--hero-bgr-color);
}

@media screen and (max-width: 768px) {
  .hero {
    max-width: 480px;
    height: 400px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(//img/Hero-mobile-img1x.png);
    background-size: 480px 400px;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(//img/Hero-mobile-img@2x.png);
    }
  }
}

.hero__title {
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--first-bg-color);
}

.hero__button {
  display: block;
  margin-right: auto;
  margin-left: auto;

  border-radius: 4px;
  min-width: 200px;
  min-height: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  cursor: pointer;
  letter-spacing: 0.06em;
  color: var(--first-bg-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms var(--cubic), color 250ms var(--cubic),
    box-shadow 250ms var(--cubic);

  &:hover,
  &:focus {
    color: var(--first-bg-color);
    background-color: var(--btn-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    height: 400px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(//img/Hero-tablet-img1x.png);
    background-size: 768px 400px;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(//img/Hero-tablet-img@2x.png);
    }
  }

  .hero__title {
    width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(//img/hero-deskto-Img1x.png);
    background-size: 1600px 600px;
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(//img/hero-desktop-Img@2x.png);
    }
  }

  .hero__title {
    min-width: 693px;
    font-size: 44px;
    line-height: 1.4;
  }

  .hero__button {
    min-width: 216px;
  }
}
