.nav__button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  cursor: pointer;
  z-index: 2;
}

.nav__button .nav__close {
  display: none;
}

.nav__button.is-open .nav__close {
  display: block;
}

.nav__button.is-open .nav__open {
  display: none;
}

.nav__close:hover,
.nav__close:active {
  fill: var(--accent-color);
}

.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  min-height: 796px;
  padding-top: 48px;
  padding-right: 40px;
  padding-bottom: 48px;
  padding-left: 40px;
  background-color: var(--first-bg-color);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  transition: transform 250ms var(--cubic);
  z-index: 1;
}


.mobile-menu.is-open {
  display: block;
}

.mobile-menu.is-open .nav__list {
  display: block;
}

.mobile-menu.is-open .contacts-list {
  display: block;
}

.nav__list {
  display: none;
}

.nav__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.nav__link {
  position: relative;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--title-text-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.nav__link--current {
  color: var(--accent-color);
}

.contacts-list {
  display: none;
  margin-top: 302px;
}

.tell-list__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196f3;
  transition: color 250ms var(--cubic);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.mail-list__link {
  display: block;
  margin-top: 32px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms var(--cubic);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.nav-social {
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
}

.nav-social__link {
  padding-right: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--accent-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.nav-social__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.nav-social__item:not(:last-child) {
  margin-right: 10px;
}
