.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms var(--cubic);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.button-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
  background: var(--first-bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: fill 250ms var(--cubic);

  &:focus,
  &:hover {
    fill: var(--accent-color);
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  background-color: var(--first-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms var(--cubic);
}
