.portfolio-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  &__item:not(:last-child) {
    margin-right: 8px;
  }
}

.portfolio-btn__button {
  padding: 6px 22px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--section-bg-colir);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--first-bg-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  &__card {
    position: relative;
    overflow: hidden;
  }
}

.portfolio__link {
  display: block;
  transition: box-shadow 250ms var(--cubic);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio__text {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  padding: 63px 24px;
  margin-top: 4px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--first-bg-color);
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms var(--cubic);

  .portfolio__link:hover & {
    transform: translateY(0%);
  }
}

.portfolio__wrap {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;

  border-right: 1px solid var(--secondary-br-color);
  border-left: 1px solid var(--secondary-br-color);
  border-bottom: 1px solid var(--secondary-br-color);
}

.portfolio__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio__name {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
