.section--padding {
    padding-top: 0;
}

.ours-work {
    display: flex;

    &__item:not(:last-child) {
            margin-right: 30px;
        }
    
    
        &__wrapper {
            position: relative;
        }
}



.ours-work__text {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--first-bg-color);
    background-color: rgba(47, 48, 58, 0.8);

}