body {
    font-family: "Roboto", sans-serif;
    color: var(--primary-text-color);
    background-color: var(--first-bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}


img {
    display: block
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    transition: color 250ms var(--cubic);
}


.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

.button {
    border: none;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;

}

.section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}