:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --first-bg-color: #ffffff;
    --secondary-bg-color: #2f303a;
    --section-bg-colir: #f5f4fa;
    --accent-color: #2196f3;
    --btn-color: #188ce8;
    --primary-black-color: #000000;
    --contact-color: rgba(255, 255, 255, 0.6);
    --border-color: #ECECEC;
    --secondary-br-color: #EEEEEE;
    --hero-bgr-color: #C4C4C4;
    --icon-team-color: #AFB1B8;
    --icom-footer-color: rgba(255, 255, 255, 0.1);
    --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}